@import "tailwindcss";



/* --- ADD THESE STYLES --- */
body {
  background-image: url('/landing-background.jpg'); /* Adjust it for larger screen and this is the backgrpund of the landing page */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* optional */
  min-height: 100vh;
  width: 100%;
}


